* {
	padding: 0%;
	margin: 0%;
}
.container {
	display: flex;
	flex-direction: column;
	gap: 5vh;
	text-align: center;
	margin: 2vh 10vw 0px 10vw;
	border: solid black 3px;
	border-radius: 5px;
}
#header {
	background-color: brown;
	color: aliceblue;
	height: 10vh;
	text-align: center;
}

#header span {
	text-align: center;
	font-size: xx-large;
	font-weight: 600;
}

#message,
#translatedMessage {
	resize: none;
	padding: 1vh;
	text-align: center;
	font-size: 20px;
	color: brown;
	background-color: rgb(149, 198, 202);
}
#error_message {
	color: red;
}
#translate {
	width: max-content;
	align-self: center;
	padding: 1vh;
	background-color: brown;
	color: aliceblue;
	font-size: large;
	text-transform: capitalize;
	cursor: pointer;
}
footer {
	background-color: brown;
	color: aliceblue;
}

#about {
	font-size: larger;
	padding: 1vw;
}

#footer-text {
	padding: 2vw;
}

footer {
	text-align: center;
}
footer a i {
	margin: 20px 0 20px 30px;
	font-size: 50px;
	color: var(--para);
}
